################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tech.ApplicatonProcess.Lowesttariff2020.Web/bin/Debug/netcoreapp2.1
/.vs
